<div class="inicio p-2">


    <div class="col-lg-12 text-center">
        <h2 style=" color: #64c27b;">PUNTOS RECICLAJE</h2>
    </div>
    <div class="row p-2 text-center ">
        <div class="col-lg-6 p-2">
            <div class="card">
                <div class="container">
                    <h5 class="titulo">Centro de Acopio de Residuos Peligrosos</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.7349167926996!2d-99.54763858562598!3d27.47751088288763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8661189fdbeca337%3A0x25967a2faefb507c!2s%C3%81vila%20Camacho%2C%20La%20Fe%2C%2088187%20Nuevo%20Laredo%2C%20Tamps.!5e0!3m2!1ses-419!2smx!4v1677086926635!5m2!1ses-419!2smx"
                        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <br> <label style="font-size: small;">Calle General Manuel Ávila Camacho #2601</label>
                    <!-- <img class="p-2" src="assets/img/acopio/acopio.jpg" style="width: 70%;border-radius: 15px;" /> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="card">
                <div class="container">
                    <h5 class="titulo">CMURC - Centro de Acopio (Escombro)</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8420.62511800924!2d-99.59944149599512!3d27.455659583232237!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf5f727d97159c6a!2sCentro%20Municipal%20de%20residuos%20de%20la%20construcci%C3%B3n!5e0!3m2!1ses-419!2smx!4v1677095673418!5m2!1ses-419!2smx"
                        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <br> <label style="font-size: small;">Radial 3 entre la rotonda del Conejo y Carretera MEX-2</label>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 p-2">
            <h5 class="titulo">Centro de transferencias</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14162.302373499699!2d-99.5037412!3d27.4513344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7a986be1bd55a73!2sParque%20%22Polvo%20Enamorado%22!5e0!3m2!1ses-419!2smx!4v1677096514566!5m2!1ses-419!2smx"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br> <label style="font-size: small;">Leandro Valle y 15 de Septiembre</label>
        </div> -->

    </div>


    <div class="row p-2 text-center ">
        <div class="col-lg-6 p-2">
            <div class="card">
                <div class="container">
                    <h5 class="titulo">Recicladora Laredo</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d113281.00152422044!2d-99.60638869233865!3d27.468284979723876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x866123ac2d65da1f%3A0x2b12287fea5f012f!2sC.%20Torre%C3%B3n%205825a%2C%20Las%20Torres%2C%2088184%20Nuevo%20Laredo%2C%20Tamps.!3m2!1d27.4683162!2d-99.53634679999999!5e0!3m2!1ses-419!2smx!4v1674154006757!5m2!1ses-419!2smx"
                        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">

            <div class="card">
                <div class="container">
                    <h5 class="titulo">APG Reciclados</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23810.835669273558!2d-99.5278829477164!3d27.4847623813398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8661230fa5fd0e77%3A0xc1f56bd2d589961d!2sAPG%20Reciclados!5e0!3m2!1ses-419!2smx!4v1674154291877!5m2!1ses-419!2smx"
                        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row p-2 text-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="container">
                    <h5 class="titulo">Reciclaje y Servicios Industriales Sepcar</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16837.476196044187!2d-99.5333280686169!3d27.480360839182374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85da6a82db7137d3%3A0x5b1f8809b2bc10d0!2sReciclaje%20y%20Servicios%20Industriales%20Sepcar!5e0!3m2!1ses-419!2smx!4v1674154483995!5m2!1ses-419!2smx"
                        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="container">
                    <h5 class="titulo">Fibras Y Reciclajes Mogue</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113309.35510974708!2d-99.60061789297113!3d27.440686491578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86612290dae6a813%3A0x6f6583c993b39e39!2sFibras%20Y%20Reciclajes%20Mogue!5e0!3m2!1ses-419!2smx!4v1674154612919!5m2!1ses-419!2smx"
                        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>




</div>