<div class="inicio row p-4">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 p-2">
        <h2 style=" color: #64c27b;">¿Cómo comenzar a reciclar? ♻️</h2>



        <b>Sigue estos pasos y estarás contribuyendo al cuidado del planeta, recuerda que separar correctamente la basura, ayuda a reciclar correctamente 👇</b>
        <br><br>
        <h4 class="text-center" style=" color: #64c27b;">1. Clasificar residuos</h4>

        <hr>
        <div class="row">
            <div class="col-lg-4"><img src="assets/img/papel.png" style="width: 100%; border-radius: 15px;" /></div>
            <div class="col-lg-8">
                <b>Papel y Cartón:</b> Los residuos de papel y cartón aportados a los sistemas deben ir sin bolsa y es recomendable no arrugarlos ni romperlos para que ocupen el menor espacio posible. Además si se eliminan todo tipo de grapas, clips y
                objetos similares, se facilita su tratamiento posterior.
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4"><img src="assets/img/plastico2.jpg" style="width: 100%; border-radius: 15px;" /></div>
            <div class="col-lg-8">
                <b>Plástico:</b> Envases de tipo general, como, por ejemplo: Bolsas de plástico. Botellas y vasos de plástico. Bricks, como los bricks de leche o zumo. Papel de burbujas. Redes usadas para contener fruta. Latas, botes y sus tapas. Papel
                film y plata. Aerosoles y roll-on. Bandejas de poliestireno o corcho blanco. Otros envases o envoltorios, como los envases de los yogures o las pastas de dientes.
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4"><img src="assets/img/latas.png" style="width: 100%; border-radius: 15px;" /></div>
            <div class="col-lg-8">
                <b>Metal: </b> Botes o latas de aluminio.
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4"><img src="assets/img/organica.png" style="width: 100%; border-radius: 15px;" /></div>
            <div class="col-lg-8">
                <b>Basura orgánica: </b> Los residuos compuestos de materia biodegradable con la que se puede hacer compost, biorresiduo, que puede aprovecharse como fertilizante, e incluso como generador de energía.
            </div>
        </div>
        <hr>

    </div>
    <div class="col-lg-5 p-2">
        <img src="assets/img/reciclajenld.jpg" style="width: 100%; border-radius: 15px;" /><br>
    </div>
    <div class="col-lg-1"></div>
</div>