<div class="col-lg-12 p-2">
    <div class="row">
        <h2 class="text-center" style="color: brown;">EDUCACIÓN AMBIENTAL</h2>

        <div class="col-lg-1"></div>

        <div class="col-lg-2">
            <div class="card">
                <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
                <div class="container">
                    <h3 class="text-center" style="color: #64c27b;"><i class="fa fa-eye"></i> Objetivos</h3>
                    <label style="font-size: x-small;" class="text-center">
                        DE ACUERDO A LA UNESCO, LOS OBJETIVOS DE LA EDUCACIÓN AMBIENTAL SON LOS SIGUIENTES:</label>

                    <ul style="font-size: small;">
                        <li>CONCIENTIZACIÓN: CONCIENTIZAR A LAS PERSONAS SOBRE PROBLEMÁTICAS AMBIENTALES.</li>
                        <li>CONOCIMIENTO: PROMOVER EL INTERÉS POR EL MEDIO AMBIENTE.</li>
                        <li>ACTITUDES: ADQUIRIR INTERÉS POR EL MEDIO AMBIENTE Y VOLUNTAD PARA CONSERVARLO.</li>
                        <li>APTITUDES: AYUDAR A ADQUIRIR APTITUDES PARA RESOLVER EL PROBLEMA.</li>
                        <li>EVALUACIÓN: EVALUAR LOS PROGRAMAS DE EDUCACIÓN AMBIENTAL.</li>
                        <li>PARTICIPACIÓN: DESARROLLAR LA RESPONSABILIDAD PARA ADOPTAR MEDIDAS ADECUADAS.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <div class="container">
                    <h3 class="text-center" style="color: #64c27b;"><i class="fa fa-flag-checkered"></i> Metas</h3>
                    <label style="font-size: x-small;" class="text-center">
                        CONCIENTIZAR EL MAYOR NÚMERO DE CIUDADANOS SOBRE:</label>

                    <ul style="font-size: small;">
                        <li>LAS TRES “RRR” (REDUCIR, REUTILIZAR Y RECICLAR).</li>
                        <li>DIVULGACIÓN DE CONSCIENCIA AMBIENTAL.</li>
                        <li>DIVULGACIÓN DE CONSCIENCIA AMBIENTAL.</li>
                        <li>EXPONER LAS CAUSAS Y CONSECUENCIAS DEL CAMBIO CLIMÁTICO.</li>
                        <li>CONCIENTIZAR SOBRE EL MALTRATO DE ANIMALES.</li>
                        <li>PROMOVER LA REFORESTACIÓN DE ESPECIES DE LA REGIÓN ESTEPARIA.</li>
                        <li>DISMINUIR LA FALTA DE EDUCACIÓN AMBIENTAL QUE HAY EN NUESTRA CIUDAD.</li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="col-lg-2">
            <div class="card">
                <div class="container">
                    <h3 class="text-center" style="color: #64c27b;"><i class="fa fa-balance-scale"></i> Principios</h3>
                    <label style="font-size: small; text-align: justify;">
                        “NO TENDREMOS UNA SOCIEDAD SI DESTRUIMOS EL MEDIO AMBIENTE”
                        MEDIANTE LAS PLÁTICAS DE CONCIENTIZACIÓN AMBIENTAL SE PROMUEVE CUIDAR AL MEDIO AMBIENTE DESDE
                        TEMPRANA EDAD PARA
                        CONSTRUIR UNA SOCIEDAD RESPONSABLE PARA PRESERVAR NUESTROS ECOSISTEMAS.

                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <div class="container">
                    <h3 class="text-center" style="color: #64c27b;"><i class="fa fa-handshake-o"></i> Valores</h3>
                    <label style="font-size: small;text-align: justify;">
                        RESPETO: CON EL MEDIO AMBIENTE, LAS PLANTAS, LOS ANIMALES, LOS RECURSOS NATURALES, LOS
                        ECOSISTEMAS Y EL PLANETA.
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="card">
                <div class="container">
                    <h3 class="text-center" style="color: #64c27b;"><i class="fa fa-globe"></i> Impacto</h3>
                    <label style="font-size: small;text-align: justify;">
                        EL IMPACTO DE NUESTRAS PLÁTICAS ESTÁ ENFOCADO LAS ESCUELAS PÚBLICAS DE NIVEL BÁSICO, MEDIO Y
                        SUPERIOR, LAS EMPRESAS
                        PRIVADAS INTERESADAS, Y ÁREAS DEL MUNICIPIO. ES IMPORTANTE REALIZAR ACTIVIDADES ENFOCADAS A
                        INCREMENTAR LA FORMACIÓN DE
                        UNA SOCIEDAD CON RESPONSABILIDAD AMBIENTAL.
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>
    </div>


    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
                <div class="container">
                    <h3 class="text-center" style="color: #64c27b;">¿QUÉ ES LA EDUCACIÓN AMBIENTAL? </h3>
                    <label style="font-size: small;text-align: justify;">
                        ES UN PROCESO DE MEJORA CONTINUA QUE DURA TODA LA VIDA Y QUE TIENE COMO OBJETIVO OFRECER CONCIENCIA AMBIENTAL,
                        CONOCIMIENTO ECOLÓGICO, ACTITUDES Y VALORES, COMPROMISO DE ACCIONES Y RESPONSABILIDADES CON EL FIN DE USO RACIONAL DE
                        LOS RECURSOS Y POR ENDE LOGRAR EL DESARROLLO SOSTENIBLE.    <br>
                        LA SENSIBILIZACIÓN AMBIENTAL ES UNA HERRAMIENTA DE FORTALECIMIENTO BASADA EN LA CAPACITACIÓN Y EDUCACIÓN AMBIENTAL DE
                        SECTORES DE ATENCIÓN Y SE ENFOCA EN LOS TEMAS PRIORITARIOS INSTITUCIONALES GENERANDO UN EFECTO MULTIPLICADOR. <br>
                        LA EDUCACIÓN TIENE QUE INICIARSE LO MÁS PRONTO POSIBLE YA QUE DE ESTA MANERA, SI LOS NIÑOS SON CAPACES DE IDENTIFICAR Y
                        SOLUCIONAR PROBLEMAS AMBIENTALES EN EDAD TEMPRANA, PODRÁN CONTINUAR CON ELLO EN LA EDAD ADULTA Y SER CAPACES DE TOMAR
                        UNA DECISIÓN, DANDO POSIBLES RESPUESTAS A LA PROBLEMÁTICA QUE TENEMOS EN LA ACTUALIDAD. <br>

                    </label>
                    <br>
                </div>
            </div>
        </div>
    </div>



    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <div class="container">




                    <div class="row">
                        <div class="col-lg-6 text-center"><img src="assets/img/ambiente.png" style="width: 50%;" /></div>
                        <div class="col-lg-6">
                            <h3 class="text-center" style="color: #64c27b;">TEMAS </h3> <br>
                            <ul>
                                <li>EL RECICLAJE</li>
                                <li>SALUD ANIMAL</li>
                                <li>CUIDADOS Y BENEFICIOS DE LOS ÁRBOLES</li>
                                <li>TÉCNICA DE TRASPLANTACIÓN</li>
                                <li>CONCIENTIZACIÓN Y SENSIBILIZACIÓN AMBIENTAL</li>
                                <li>CAMBIO CLIMÁTICO</li>
                            </ul>
                        </div>
                    </div>


                    <br>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6"><br>
                                <label for="">
              <i class="fa fa-arrow-right"></i>  PLÁTICAS A NIVEL ESCOLAR (PRIMARIA, SECUNDARIA, PREPARATORIA, NIVEL SUPERIOR): CONTACTAR A LA JEFATURA
                DE EDUCACIÓN DE
                LA DIRECCIÓN DE EDUCACIÓN <br> <br>

                <i class="fa fa-arrow-right"></i> PLÁTICAS PARA EMPRESAS, COMERCIOS Y CIUDADANÍA EN GENERAL: REALIZAR OFICIO SOLICITUD A LA DIRECCIÓN DE
                MEDIO AMBIENTE Y
                CAMBIO CLIMÁTICO. <br> <br>

                PARA DUDAS Y ACLARACIONES FAVOR DE CONTACTARSE AL TEL. 867 714 79 73. <br><br><br>

                <div class="text-center" style="font-weight: 600; font-size: small; color: black;">
MEDIO AMBIENTE Y CAMBIO CLIMÁTICO <br>
REYNOSA #4305 COL. CAMPESTRE <br>
NUEVO LAREDO, TAMPS. <br>
867 714 79 73 <br>
DE 8 AM A 3:30 PM <br>
                </div>
              

                  

            </label>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img src="assets/img/a1.jpg" style="width: 100%;" />
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="assets/img/a2.jpg" style="width: 100%; height: 86%;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img src="assets/img/a3.jpg" style="width: 100%;" />
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="assets/img/a4.jpg" style="width: 100%;" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>