<div class="inicio row p-2">
    <h2 class="text-center" style="color:#64c27b;"> RUTA RECOLECCIÓN NLD</h2> <br><br>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[0]" style="border-radius: 15px;" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>First Slide</h3>
                                <p> Angular 10 Carousel Example </p> -->
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[1]" style="border-radius: 15px;" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>Second Slide</h3>
                                <p> Check out Techiediaries</p> -->
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[2]" style="border-radius: 15px;" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>Third Slide</h3>
                                <p>for full tutorial...</p> -->
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[3]" style="border-radius: 15px;" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[4]" style="border-radius: 15px;" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper">
                    <img [src]="images[5]" style="border-radius: 15px;" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="col-lg-3" style="border-radius: 15px;">
        <div class="myBox">
            <b>TURNO MATUTINO <br> 6:00 AM- 2:00 PM DÍAS: LUNES Y JUEVES TURNO: MATUTINO COLONIAS:</b> <br> Alta Vista, Jardín Juvencia, El Remolino, Roma I, Roma II, Militar, Peña Benavidez, Hidalgo, Ferrocarril, Ojo Caliente, Centro, Independencia,
            Victoria, Viveros, Zaragoza, Lomas del Poniente, Palacio, Matamoros, Juárez, San José, Viveros, Hipódromo, Mirador y San Rafael.
            <br> SECTOR: I, G Y H <br>
            <br> <b>DÍAS: MARTES Y VIERNES TURNO: MATUTINO COLONIAS:</b><br> Unión del Recuerdo, Arboledas, Los Sánchez, Naciones Unidas, Los Olivos, Voluntad IV, Lomas del Río, Nueva Victoria, Voluntad III, Berta del Avellano, Los Virreyes, Lomas del
            Rey, Bonitos Toboganes, Constitucional 2, Constitucional 1, Voluntad II, Los Toboganes, Fraccionamiento Othon Chávez, Leyes de Reforma, Bella Vista, Sistema Berlín, Emiliano Zapata, Los Garza, Las Alazanas, La Sandía, La Joya, Del Maestro,
            Solidaridad I, Solidaridad 2, Buena Vista y Fovissste Alazanas<br> SECTOR: B,C, D <br>
            <br> <b>DÍAS: MIÉRCOLES Y SÁBADO TURNO: MATUTINO COLONIAS:</b><br> Infonavit, Benito Juárez, Casa Linda, Fovissste, Balcones del Boulevard, Campo Real, Río Bravo Vista Hermosa, Residencial Longoria, Las Viñas, Valle Real, Bonanza, Granjas
            Guzmán, El Caporal, Valles del Paraíso, Granjas Treviño, Santa Cecilia, Alijadores y Ampliación, Treviño Campanario, Villas de Oradel, Los Ángeles y Blanca Navidad
            <br> SECTOR:P <br>
            <br> <b>TURNO VESPERTINO <br> 2:00 PM - 10:00 PM DÍAS: LUNES Y JUEVES TURNO: VESPERTINO COLONIAS:</b> <br>La Fe, Las Torres, La Esperanza, Anáhuac, Morelos, Guerrero, Mier y Terán, Loma Bonita, México, Campestre, Madero, Los Álamos, El Nogal,
            Ampliación y Fraccionamiento Los Encinos, Villas de la Concordia, Lagos, Los Presidentes, Los Aztecas, Villas de Lago, Las Alamedas, Infonavit Fundadores y Haciendas de la Concordia II.
            <br> SECTOR: J,K, L <br>
            <br> <b>DÍAS: MARTES Y VIERNES TURNO: VESPERTINO COLONIAS:</b><br> Progreso, Colorines, Fraccionamiento El Progreso, Valles de Anáhuac, Guerrero del Sol, Los Arcos, Daniel Hernández, Alianza Para la Producción, Buena Vista, Buenos Aires, Villas
            de San Miguel, Nueva Era, Luis Donaldo Colosio, Américo Villarreal y Unidad Nacional
            <br> SECTOR: A, E, F, <br>
            <br> <b>DÍAS: MIÉRCOLES Y SÁBADO TURNO: VESPERTINO COLONIAS:</b><br> Emiliano Zapata, Francisco Villa, 150 Aniversario, Vamos Tamaulipas, San Roberto, Los Tulipanes, Los Fresnos, Los Ciruelos, Brisas de Lago, La Paz, Valles Elizondo, Colinas
            del Sur, Bosques del Sur, Media Luna, América III, Palmarés, Granjas Regina, Granjas Económicas, Valles Dorado, Hacienda San Agustín, Los Agaves y Enrique Cárdenas.
            <br> SECTOR: O, M, N
            <br>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>