<div class="inicio p-2">


    <!-- <h3>Medio Ambiente en NLD</h3>
    Conoce los diferentes sitios web sobre medio ambiente en Nuevo Laredo: <br>
    <div class="col-lg-12 border">
        <iframe width="100%" height="800px" src="https://www.defensaambiental.org/news"></iframe>
    </div> -->

    <div class="col-lg-12 p-3">
        <h2 style=" color: #64c27b;" class="text-center">Medio Ambiente en NLD</h2>



    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">

            <div class="gallery__container" fxLayout="row wrap" [ngStyle]="{
       'max-width': '1180px',
       'height': '70rem'
      }">
                <div class="gallery__image" *ngFor="let image of images" [fxFlex]="image.grow + ' ' + image.shrink + ' ' + image.basis" [ngStyle]="{
          'background': '#fff url(' + image.src + ') no-repeat scroll center center',
          margin: '0.25rem'
        }">
                </div>
            </div>



        </div>
        <div class="col-lg-2 p-2 border" style="border-radius: 15px; background-color: white;">
            <label style="font-size: small;">
                <b style="color: green;">GOBIERNO MUNICIPAL Y CFE SIEMBRAN VIDA EN EL PARQUE MENDOZA CON CAMPAÑA DE REFORESTACIÓN</b> <br> <br>
                
                El Gobierno de Nuevo Laredoy la Comisión Federal de Electricidad (CFE) unieron esfuerzos para la
                conservación del
                medio
                ambiente con la siembra de 50 árboles en el parque Narciso Mendoza como parte del programa “Sembrando vida”. <br>
                La finalidad de este proyecto encabezado por la dirección de Medio Ambiente y Cambio Climático, es trabajar
                en
                equipo
                con la sociedad civil e iniciativa privada para brindar a la población un mejor entorno.<br>
                “Gracias por esta aportación de acción sustentable, es una buena actividad el reforestar y sanear
                ambientalmente
                todos
                nuestros espacios públicos para que nuestros niños logren esa convivencia e interacción con sus familias,
                amigos y
                vecinos”, mencionó Carlos de Anda Hernández, secretario de Obras Públicas.<br>
                Para esta actividad se unieron decenas de familias quienes junto a sus niños plantaron los árboles en el
                parque
                Mendoza
                y de esta manera involucrarse en el cuidado del medio ambiente, así como el fomento de estas prácticas que
                benefician a
                la población en general.<br>
                “Que aprendan los niños a sembrar vida y crear en las familias conciencia del beneficio de plantar árboles,
                y lo que
                significa para la salud, además de mejorar el ecosistema. De esta manera contribuimos todos en el municipio
                para
                mejorarlo”, señaló Salvador García Guerra, director de Medio Ambiente.<br>
                El titular de la dependencia García Guerra indicó que cada árbol llevará el nombre de la familia que lo
                plantó con
                el
                objetivo de que se hagan responsables de su cuidado y se desarrolle correctamente.
                “Además de los muchos beneficios que trae la reforestación es el impacto que tiene sobre el cambio climático
                y las
                variaciones a largo y mediano plazo, esto es muy bueno para todos nosotros”, dijo Roberto Hinojosa,
                superintendente
                de
                zona de la CFE
                El tipo de árbol que se plantó se llama encino verde nativo de la región de los cuales 25 fueron donados por
                parte
                de
                CFE y 25 por parte de la administración municipal. Las empresas interesadas en sumarse a este programa
                pueden
                comunicarse al teléfono de la dirección de Medio Ambiente 867 714 79 73.
                El próximo lunes estarán reforestando el Tecnológico de Nuevo Laredo, en el que se plantarán más de 15
                árboles.
                En esta actividad estuvieron presentes directores y secretarios del ayuntamiento; así como Daniel Peña
                Treviño,
                coordinador Regional Golfo Norte del Sindicato Único de Trabajadores Electricistas de la República Mexicana
                (SUTERM).
                #ElNuevoCorazónDeTamaulipas
    
    
            </label>
        </div>
        <div class="col-lg-1"></div>
    </div>



</div>